.input {
  padding: 10px;
  border: none;
  color: rgb(129, 122, 122);
  background-color: #353333;
  display: block;
}

.input_border {
  display: inline-block;
  width: 0px;
  height: 2.5px;
  background: #08fdd8;
  position: relative;
  top: -15px;
  -webkit-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
.input:active,
.input:focus {
  outline: none;
}
.input:active + .input_border,
.input:focus + .input_border {
  width: 100%;
}
